<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Bootstap and Blending Modes</title>
  </head>
  <body>

  <div class='container-fluid' style='position: fixed; width: 100%;'>
    <div class='row'>
      <div class='col-sm-1 red tothefloor'>
      </div>
      <div class='col-sm-1 redorange tothefloor'>
      </div>
      <div class='col-sm-1 orange tothefloor'>
      </div>
      <div class='col-sm-1 yellow tothefloor'>
      </div>
      <div class='col-sm-1 lightgreen tothefloor'>
      </div>
      <div class='col-sm-1 green tothefloor'>
      </div>
      <div class='col-sm-1 periwinkle tothefloor'>
      </div>
      <div class='col-sm-1 skyblue tothefloor'>
      </div>
      <div class='col-sm-1 blue tothefloor'>
      </div>
      <div class='col-sm-1 indigo tothefloor'>
      </div>
      <div class='col-sm-1 violet tothefloor'>
      </div>
      <div class='col-sm-1 purple tothefloor'>
      </div>
    </div>
  </div>


    <div class='container-fluid'>
      <div class='row'>
        <small style='position: absolute'>normal</small>
        <div class='col-sm-12 blender'>
          <h1>
            <span id='cyantype'>C</span>
            <span id='yellowtype'>Y</span>
            <span id='magentatype'>M</span>
            <span id='blacktype'>K</span>
            <span id='whitetype'>W</span>
            <span id='redtype'>R</span>
            <span id='greentype'>G</span>
            <span id='bluetype'>B</span>
          </h1>
        </div>
      </div>
      <div class='row'>
        <small style='position: absolute'>opacity 60%</small>
        <div class='col-sm-12 blender'>
          <h1 style='opacity: .6'>
            <span id='cyantype'>C</span>
            <span id='yellowtype'>Y</span>
            <span id='magentatype'>M</span>
            <span id='blacktype'>K</span>
            <span id='whitetype'>W</span>
            <span id='redtype'>R</span>
            <span id='greentype'>G</span>
            <span id='bluetype'>B</span>
          </h1>
        </div>
      </div>
      <div class='row'>
        <small style='position: absolute'>multiply</small>
        <div class='col-sm-12 blender' style='mix-blend-mode: multiply;'>
          <h1>
            <span id='cyantype'>C</span>
            <span id='yellowtype'>Y</span>
            <span id='magentatype'>M</span>
            <span id='blacktype'>K</span>
            <span id='whitetype'>W</span>
            <span id='redtype'>R</span>
            <span id='greentype'>G</span>
            <span id='bluetype'>B</span>
          </h1>
        </div>
      </div>
      <div class='row'>
        <small style='position: absolute'>screen</small>
        <div class='col-sm-12 blender' style='mix-blend-mode: screen;'>
          <h1>
            <span id='cyantype'>C</span>
            <span id='yellowtype'>Y</span>
            <span id='magentatype'>M</span>
            <span id='blacktype'>K</span>
            <span id='whitetype'>W</span>
            <span id='redtype'>R</span>
            <span id='greentype'>G</span>
            <span id='bluetype'>B</span>
          </h1>
        </div>
      </div>
      <div class='row'>
        <small style='position: absolute'>overlay</small>
        <div class='col-sm-12 blender' style='mix-blend-mode: overlay;'>
          <h1>
            <span id='cyantype'>C</span>
            <span id='yellowtype'>Y</span>
            <span id='magentatype'>M</span>
            <span id='blacktype'>K</span>
            <span id='whitetype'>W</span>
            <span id='redtype'>R</span>
            <span id='greentype'>G</span>
            <span id='bluetype'>B</span>
          </h1>
        </div>
      </div>
      <div class='row'>
        <small style='position: absolute'>darken</small>
        <div class='col-sm-12 blender' style='mix-blend-mode: darken;'>
          <h1>
            <span id='cyantype'>C</span>
            <span id='yellowtype'>Y</span>
            <span id='magentatype'>M</span>
            <span id='blacktype'>K</span>
            <span id='whitetype'>W</span>
            <span id='redtype'>R</span>
            <span id='greentype'>G</span>
            <span id='bluetype'>B</span>
          </h1>
        </div>
      </div>
      <div class='row'>
        <small style='position: absolute'>lighten</small>
        <div class='col-sm-12 blender' style='mix-blend-mode: lighten;'>
          <h1>
            <span id='cyantype'>C</span>
            <span id='yellowtype'>Y</span>
            <span id='magentatype'>M</span>
            <span id='blacktype'>K</span>
            <span id='whitetype'>W</span>
            <span id='redtype'>R</span>
            <span id='greentype'>G</span>
            <span id='bluetype'>B</span>
          </h1>
        </div>
      </div>
      <div class='row'>
        <small style='position: absolute'>color-dodge</small>
        <div class='col-sm-12 blender' style='mix-blend-mode: color-dodge;'>
          <h1>
            <span id='cyantype'>C</span>
            <span id='yellowtype'>Y</span>
            <span id='magentatype'>M</span>
            <span id='blacktype'>K</span>
            <span id='whitetype'>W</span>
            <span id='redtype'>R</span>
            <span id='greentype'>G</span>
            <span id='bluetype'>B</span>
          </h1>
        </div>
      </div>
      <div class='row'>
        <small style='position: absolute'>color-burn</small>
        <div class='col-sm-12 blender' style='mix-blend-mode: color-burn;'>
          <h1>
            <span id='cyantype'>C</span>
            <span id='yellowtype'>Y</span>
            <span id='magentatype'>M</span>
            <span id='blacktype'>K</span>
            <span id='whitetype'>W</span>
            <span id='redtype'>R</span>
            <span id='greentype'>G</span>
            <span id='bluetype'>B</span>
          </h1>
        </div>
      </div>
      <div class='row'>
        <small style='position: absolute'>hard-light</small>
        <div class='col-sm-12 blender' style='mix-blend-mode: hard-light;'>
          <h1>
            <span id='cyantype'>C</span>
            <span id='yellowtype'>Y</span>
            <span id='magentatype'>M</span>
            <span id='blacktype'>K</span>
            <span id='whitetype'>W</span>
            <span id='redtype'>R</span>
            <span id='greentype'>G</span>
            <span id='bluetype'>B</span>
          </h1>
        </div>
      </div>
      <div class='row'>
        <small style='position: absolute'>soft-light</small>
        <div class='col-sm-12 blender' style='mix-blend-mode: soft-light;'>
          <h1>
            <span id='cyantype'>C</span>
            <span id='yellowtype'>Y</span>
            <span id='magentatype'>M</span>
            <span id='blacktype'>K</span>
            <span id='whitetype'>W</span>
            <span id='redtype'>R</span>
            <span id='greentype'>G</span>
            <span id='bluetype'>B</span>
          </h1>
        </div>
      </div>
      <div class='row'>
        <small style='position: absolute'>difference</small>
        <div class='col-sm-12 blender' style='mix-blend-mode: difference;'>
          <h1>
            <span id='cyantype'>C</span>
            <span id='yellowtype'>Y</span>
            <span id='magentatype'>M</span>
            <span id='blacktype'>K</span>
            <span id='whitetype'>W</span>
            <span id='redtype'>R</span>
            <span id='greentype'>G</span>
            <span id='bluetype'>B</span>
          </h1>
        </div>
      </div>
      <div class='row'>
        <small style='position: absolute'>exclusion</small>
        <div class='col-sm-12 blender' style='mix-blend-mode: exclusion;'>
          <h1>
            <span id='cyantype'>C</span>
            <span id='yellowtype'>Y</span>
            <span id='magentatype'>M</span>
            <span id='blacktype'>K</span>
            <span id='whitetype'>W</span>
            <span id='redtype'>R</span>
            <span id='greentype'>G</span>
            <span id='bluetype'>B</span>
          </h1>
        </div>
      </div>
      <div class='row'>
        <small style='position: absolute'>hue</small>
        <div class='col-sm-12 blender' style='mix-blend-mode: hue;'>
          <h1>
            <span id='cyantype'>C</span>
            <span id='yellowtype'>Y</span>
            <span id='magentatype'>M</span>
            <span id='blacktype'>K</span>
            <span id='whitetype'>W</span>
            <span id='redtype'>R</span>
            <span id='greentype'>G</span>
            <span id='bluetype'>B</span>
          </h1>
        </div>
      </div>
      <div class='row'>
        <small style='position: absolute'>saturation</small>
        <div class='col-sm-12 blender' style='mix-blend-mode: saturation;'>
          <h1>
            <span id='cyantype'>C</span>
            <span id='yellowtype'>Y</span>
            <span id='magentatype'>M</span>
            <span id='blacktype'>K</span>
            <span id='whitetype'>W</span>
            <span id='redtype'>R</span>
            <span id='greentype'>G</span>
            <span id='bluetype'>B</span>
          </h1>
        </div>
      </div>
        <div class='row'>
          <small style='position: absolute'>color</small>
          <div class='col-sm-12 blender' style='mix-blend-mode: color;'>
            <h1>
              <span id='cyantype'>C</span>
              <span id='yellowtype'>Y</span>
              <span id='magentatype'>M</span>
              <span id='blacktype'>K</span>
              <span id='whitetype'>W</span>
              <span id='redtype'>R</span>
              <span id='greentype'>G</span>
              <span id='bluetype'>B</span>
            </h1>
          </div>
        </div>
      <div class='row'>
        <small style='position: absolute'>luminosity</small>
        <div class='col-sm-12 blender' style='mix-blend-mode: luminosity;'>
          <h1>
            <span id='cyantype'>C</span>
            <span id='yellowtype'>Y</span>
            <span id='magentatype'>M</span>
            <span id='blacktype'>K</span>
            <span id='whitetype'>W</span>
            <span id='redtype'>R</span>
            <span id='greentype'>G</span>
            <span id='bluetype'>B</span>
          </h1>
        </div>
      </div>

    </div>

<!--     think about: sliders for opacity
    click on and off blending mode
    slader to move text left and right to see different colors on different backgrounds -->




    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
    <script src="js/bootstrap.min.js"></script>
</body>
</html>